name: "Build ISO"

on:
  push:
    branches:
      - main
    tags:
      - "*"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Build
        id: build
        run: |
          nix build .#install-isoConfigurations.xinux --log-format raw -v
          echo "::set-output name=release::$(ls result/iso | grep iso | sed "s/-/\n/g" | head -n2 | tail -n1)"
          echo "::set-output name=file::$(ls result/iso | grep iso | head -n1)"

      - name: Upload Artifacts to CDN
        run: |
          DIR="/srv/xinux/latest"
          if [ -d "$DIR" ]; then
            find "$DIR" -maxdepth 1 -type f -name "*.iso" -exec rm -f {} +
          else
            mkdir -p "$DIR"
          fi
          mv result/iso/*.iso /srv/xinux/latest/xinux-25.11-$(date +'%d%m%Y')-x86_64-linux.iso

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          name: Xinux ${{ steps.build.outputs.release }}
          tag_name: ${{ github.ref_name }}
          files: result/iso/*.iso
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
