name: "Build ISO"

on:
  push:
    branches:
      - main
    tags:
      - "*"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Build
        id: build
        run: |
          # Build
          nix build .#install-isoConfigurations.xinux --log-format raw -v

          # Attaining infos from file
          FILE=$(ls result/iso | grep iso | head -n1)
          FULL_SEGMENT=$(echo "$FILE" | sed "s/-/\n/g" | head -n2 | tail -n1)
          SHORT_VERSION=$(echo "$FULL_SEGMENT" | cut -d. -f1-2)

          # Passing values
          echo "::set-output name=release::$FULL_SEGMENT"
          echo "::set-output name=short_version::$SHORT_VERSION"
          echo "::set-output name=file::$FILE"

      - name: Upload Artifacts to CDN
        run: |
          DIR="/srv/xinux/release"
          if [ -d "$DIR" ]; then
            find "$DIR" -maxdepth 1 -type f -name "*.iso" -exec rm -f {} +
          else
            mkdir -p "$DIR"
          fi

          SRC_ISO=$(ls result/iso/*.iso | head -n1)
          VERSION="${{ steps.build.outputs.short_version }}"

          cp "$SRC_ISO" "$DIR/xinux-${VERSION}-$(date +'%d.%m.%Y')-x86_64-linux.iso"

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          name: Xinux ${{ steps.build.outputs.release }}
          tag_name: ${{ github.ref_name }}
          files: result/iso/*.iso
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
